In [1]:
import os
import pandas as pd
path = 'C:\OTH Amberg\Sem 4\Data engineering and analytics\DAT-Projektarbeit\DAT-WS2425-Projektarbeit\DAT-WS2425-Projektarbeit\Daten\Strompreisdaten'
extension = '.csv'

files = [file for file in os.listdir(path) if file.endswith(extension)]

dfs = []
for file in files:
    df = pd.read_csv(os.path.join(path, file))
    dfs.append(df)
    

df = pd.concat(dfs, ignore_index=True)

In [2]:
df

,Datum (MEZ),Leistung nicht erneuerbar (MW),Leistung erneuerbar (MW),Day Ahead Auktion Preis (EUR/MWh),Datum (MESZ)
0,2019-12-30 00:00:00,14233.89,29930.56,11.07,NaN
1,2019-12-30 01:00:00,14154.34,30166.97,11.84,NaN
2,2019-12-30 02:00:00,13251.87,30427.25,6.16,NaN
3,2019-12-30 03:00:00,13186.11,31289.24,1.40,NaN
4,2019-12-30 04:00:00,13045.57,32203.27,4.81,NaN
...,...,...,...,...,...
43387,2024-12-10 19:00:00,NaN,NaN,180.17,NaN
43388,2024-12-10 20:00:00,NaN,NaN,166.60,NaN
43389,2024-12-10 21:00:00,NaN,NaN,151.15,NaN
43390,2024-12-10 22:00:00,NaN,NaN,137.94,NaN
43391,2024-12-10 23:00:00,NaN,NaN,121.37,NaN