In [64]:
import os

import numpy as np
import pandas as pd
path = 'DAT-WS2425-Projektarbeit\DAT-WS2425-Projektarbeit\Daten\Strompreisdaten'
extension = '.csv'
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
files = [file for file in os.listdir(path) if file.endswith(extension)]

dfs = []
filecounter =0
for file in files:
    df = pd.read_csv(os.path.join(path, file))
    dfs.append(df)
    filecounter += 1
    
print("total files: ", filecounter)
df = pd.concat(dfs, ignore_index=True)

total files:  258

In [65]:
df['Datum (MEZ)'] = pd.to_datetime(df['Datum (MEZ)'])
df['Datum (MESZ)'] = pd.to_datetime(df['Datum (MESZ)'])
print(len(df['Datum (MESZ)']))

43392

In [66]:
df = df.drop(df[df['Datum (MEZ)']<'2020-01-01'].index)
df

,Datum (MEZ),Leistung nicht erneuerbar (MW),Leistung erneuerbar (MW),Day Ahead Auktion Preis (EUR/MWh),Datum (MESZ)
48,2020-01-01 00:00:00,18754.70,13961.99,41.88,NaT
49,2020-01-01 01:00:00,18337.54,14242.17,38.60,NaT
50,2020-01-01 02:00:00,18122.83,14584.20,36.55,NaT
51,2020-01-01 03:00:00,18323.93,14746.24,32.32,NaT
52,2020-01-01 04:00:00,18327.59,14924.48,30.85,NaT
...,...,...,...,...,...
43387,2024-12-10 19:00:00,NaN,NaN,180.17,NaT
43388,2024-12-10 20:00:00,NaN,NaN,166.60,NaT
43389,2024-12-10 21:00:00,NaN,NaN,151.15,NaT
43390,2024-12-10 22:00:00,NaN,NaN,137.94,NaT
43391,2024-12-10 23:00:00,NaN,NaN,121.37,NaT